## Compare Models from classification reports

In [1]:
import pandas as pd

In [2]:
model1 = "./res/classification_report_EfficientNetV2B2_20250311_040348 copy.csv"
model2 = "./res/classification_report_EfficientNetV2B2_20250311_040348.csv"

In [3]:
df1 = pd.read_csv(model1)
df2 = pd.read_csv(model2)

In [4]:
df1.head()

          classes  precision  recall  f1-score  support
0       apple_pie   0.691000   0.636  0.662500    250.0
1  baby_back_ribs   0.795620   0.872  0.832061    250.0
2         baklava   0.892857   0.900  0.896414    250.0
3  beef_carpaccio   0.893004   0.868  0.880325    250.0
4    beef_tartare   0.785185   0.848  0.815385    250.0

In [5]:
df2.head()

          classes  precision  recall  f1-score  support
0       apple_pie   0.691304   0.636  0.662500    250.0
1  baby_back_ribs   0.795620   0.872  0.832061    250.0
2         baklava   0.892857   0.900  0.896414    250.0
3  beef_carpaccio   0.893004   0.868  0.880325    250.0
4    beef_tartare   0.785185   0.848  0.815385    250.0

In [6]:
comparison_df = df1.merge(df2, on='classes', suffixes=('_df1', '_df2'))

In [7]:
comparison_df.head()

,classes,precision_df1,recall_df1,f1-score_df1,support_df1,precision_df2,recall_df2,f1-score_df2,support_df2
0,apple_pie,0.691000,0.636,0.662500,250.0,0.691304,0.636,0.662500,250.0
1,baby_back_ribs,0.795620,0.872,0.832061,250.0,0.795620,0.872,0.832061,250.0
2,baklava,0.892857,0.900,0.896414,250.0,0.892857,0.900,0.896414,250.0
3,beef_carpaccio,0.893004,0.868,0.880325,250.0,0.893004,0.868,0.880325,250.0
4,beef_tartare,0.785185,0.848,0.815385,250.0,0.785185,0.848,0.815385,250.0

In [9]:
comparison_df = df1.merge(df2, on='classes', suffixes=('_model1', '_model2'))

# Determine the better model for each metric
for metric in ['precision', 'recall', 'f1-score']:
    comparison_df[f'better_{metric}'] = comparison_df.apply(
        lambda row: 'Model 1' if row[f'{metric}_model1'] > row[f'{metric}_model2'] else 'Model 2', axis=1
    )

In [10]:
comparison_df.head()

,classes,precision_model1,recall_model1,f1-score_model1,support_model1,precision_model2,recall_model2,f1-score_model2,support_model2,better_precision,better_recall,better_f1-score
0,apple_pie,0.691000,0.636,0.662500,250.0,0.691304,0.636,0.662500,250.0,Model 2,Model 2,Model 2
1,baby_back_ribs,0.795620,0.872,0.832061,250.0,0.795620,0.872,0.832061,250.0,Model 2,Model 2,Model 2
2,baklava,0.892857,0.900,0.896414,250.0,0.892857,0.900,0.896414,250.0,Model 2,Model 2,Model 2
3,beef_carpaccio,0.893004,0.868,0.880325,250.0,0.893004,0.868,0.880325,250.0,Model 2,Model 2,Model 2
4,beef_tartare,0.785185,0.848,0.815385,250.0,0.785185,0.848,0.815385,250.0,Model 2,Model 2,Model 2

In [ ]:
# Find mode (most frequent model) for each "better_*" column
mode_stats = {}

for metric in ['precision', 'recall', 'f1-score']:
    mode_value = comparison_df[f'better_{metric}'].mode()[0]  # Get most frequent value
    mode_stats[f'mode_better_{metric}'] = mode_value

# Convert to DataFrame for display
mode_df = pd.DataFrame([mode_stats])

better_precision Model 2
better_recall Model 2
better_f1-score Model 2

In [13]:
mode_df.head()

  mode_better_precision mode_better_recall mode_better_f1-score
0               Model 2            Model 2              Model 2